* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 21px;
}

/* ===================== Generic CSS ===================== */
.section-title {
  text-align: center;
  padding: 90px 0px 50px;
  color: #333;
}

.section-title h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: #129CF3;
  margin-left: -30px;
  left: 50%;
}

.section-title p {
  margin-top: 45px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

/* =============== Hearder ============== */
.header {
  background-image: url("../images/header-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.header-overlay {
  background-color:rgba(31, 31, 31, 0.75);
}

.logo.text-center { 
  padding-bottom: 50px;
}

.header-text h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
}

.header-text p {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
}

.header-btns {
  margin-top: 90px;
  margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:visited,
.btn-download:active
{
  background: transparent;
  border-radius: 3px;
  border-color: #129CF3;
  padding: 10px 30px;
  font-size: 19px;
  text-transform: uppercase;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

.btn-download:hover {
  background: #129CF3;
  color: #fff;
}

.btn-tour,
.btn-tour:active,
.btn-tour:focus,
.btn-tour:visited
{
  color: #A9ADB0;
  text-transform: uppercase;
  padding: 12px 6px;
  margin-left: 20px;
  font-size: 19px;
  font-weight: 500;
  background: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

.btn-tour:hover {
  color: #fff;
}

.btn-tour i {
  color: #129CF3;
  padding-left: 5px;
  font-size: 20px;
}

.header-iphone img {
  width: 100%;
}

/* ============= About Us ============== */
.choose-us-wrapper {
  padding-top: 50px;
}

.about-iphone img {
  margin-top: 8px;
}

.choose-us-title {
  padding-bottom: 50px;
}

.choose-us-title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}

.choose-us-title h2::after {
  content: "";
  background-color: #129CF3;
  width: 70px;
  height: 1px;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.choose-us-title p {
  margin-top: 40px;
  font-size: 18px;
  line-height: 24px;
}

.choose-us-item {
  position: relative;
  padding-bottom: 4px;
  padding-left: 80px;
}

.choose-us-item-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.choose-us-item-icon i {
  font-size: 55px;
  color: #129CF3;
}

.choose-us-item h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  color: #343434;
}

.choose-us-item p {
  font-size: 15px;
  color: #727272;
}

/* ============== Testimonial ============== */
.testimonial {
  background-image: url("../images/testimonial-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.testimonial-overlay {
  background-color: rgba(31, 31, 31, 0.75);
  padding: 80px 0;
}

.carousel-testimonial {
  position: relative;
}

.carousel-indicators {
  bottom: -10px;
}

.carousel-inner .item img {
  border-radius: 50%;
  border: 2px solid #129CF3;
  padding: 3px;
}

.testimonial-caption {
  padding-bottom: 70px;
}

.testimonial-caption h2 {
  font-size: 30px;
  font-weight: 900;
  color: #129CF3;
  text-transform: uppercase;
  margin-top: 25px;
}

.testimonial-caption h4 {
  color: #129CF3;
}

.testimonial-caption h4 span {
  color: #D8D8D8;
  font-style: italic;
  font-weight: 300;
}

.testimonial-caption p {
  color: #D8D8D8;
  padding-top: 50px;
  font-size: 18px;
  line-height: 27px;
}

/* ============== Feature ============== */
.left-feature-item {
  position: relative;
  margin: 35px 0 65px 0;
  padding-right: 90px;
  text-align: right;
}

.left-feature-item-icon {
  position: absolute;
  top: -8px;
  right: 0;
  color: #129CF3;
  font-size: 40px;
  width: 90px;
  height: 90px;
  text-align: center;
}

.left-feature-item-content h3 {
  text-transform: uppercase;
  margin-bottom: 21px;
  font-size: 25px;
  font-weight: 700;
  color: #333;
}

.left-feature-item-content p {
  line-height: 25px;
  color: #333;
  font-size: 16px;
  font-weight: 300;
}

.feature-iphone img {
  width: 100%;
}

.feature-iphone img {
  width: 100%;
}

.right-feature-item {
  position: relative;
  text-align: left;
  padding-left: 90px;
  margin-top: 35px;
  margin-bottom: 65px;
}

.right-feature-item-icon {
  position: absolute;
  top: -8px;
  left: 0;
  text-align: center;
  width: 90px;
  height: 90px;
  font-size: 40px;
  color: #129CF3;
}

.right-feature-item-content h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  margin-bottom: 21px;
}

.right-feature-item-content p {
  line-height: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

/* ============== Purchase Now ============== */
.purchase-now {
  background-color: #1a1a1a;
  padding: 100px 0;
}

.purchase-now p {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 300;
}

.btn-purchase-now,
.btn-purchase-now:active,
.btn-purchase-now:visited,
.btn-purchase-now:focus
{
  background-color: #129CF3;
  padding: 15px 35px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid #129CF3;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

.btn-purchase-now:hover {
  background-color: #1274B1;
  border-color: #316B90;
}

/* ============== Counters ============== */
.counter {
  background-image: url('../images/counter-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.counter-overlay {
  padding: 120px 0;
  background: rgba(0, 0, 0, .4);
}

.counter-item i {
  color: #129CF3;
  font-size: 60px;
}

.counter-item h2, .counter-item p{
  color: #D7DADB;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.counter-item h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 15px 0 1px;
}

.counter-item p {
  font-size: 20px;
  font-weight: 300;
}

/* ============== Download Now ============== */
.download-now img {
  width: 100%;
}

.available-on {
  background-color: #1A1A1A;
  margin-top: -8px;
  position: relative;
}

.available-title {
  padding-top: 75px;
}

.available-title h2 {
  color: #fff;
  font-size: 30px;
}

.available-title p {
  color: #B5B5B5;
}

.no-padding {padding-left: 0;padding-right: 0;}

.available-on-item {
  position: relative;
  text-align: center;
  border-left: 1px solid #0F1217;
  padding-bottom: 15px;
  min-height: 230px;
  transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.available-on-item i {
  font-size: 40px;
}

.available-on-item i {
  color: #129CF3;
  text-align: center;
  opacity: 1;
  font-size: 40px;
  padding-top: 95px;
  transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.available-on-inner {
  position: absolute;
  bottom: 95px;
  width: 100%;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  opacity: 0;
}

.available-on-inner h2 {
  text-align: center;
  color: #D7DADB;
  font-size: 16px;
  font-weight: 300;
}

.available-on-item:hover {
  background-color: #121212;
}

.available-on-item:hover i {
  opacity: 0;
}

.available-on-item:hover .available-on-inner {
  opacity: 1;
}